---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'
const allPosts = await Astro.glob('./recipes/*.md')
---

<Layout title="My Recipes">
	<h2 class="title">My Recipes</h2>
	<section class="recipes">
		{allPosts.map(post =>
			<RecipeCard post={post}>
			</RecipeCard>
			)}
	</section>
</Layout>

<style>
	.title {
		margin-top: 0;
	}
	.recipes {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 8px;
	}
</style>
