---
import Layout from '../layouts/Layout.astro'
import RecipeCard from '../components/RecipeCard.astro'
const allPosts = await Astro.glob('./recipes/*.md')
---

<Layout title="Astro Test: Cooking Blog"
	description="Test of the main features of Astro Framework"
	image="/astro.png">
	<h2 class="title">Astro Files</h2>
	<p>
		All this page was made with just HTML, CSS and JavaScript, using the Astro's
		special syntaxis.
	</p>
	<p>
		With <code>Astro</code> global you have access to multiple methods. For 
		example, to display all mardowns files of recipes as card, I used 
		<code>Astro.glob('./recipes/*.md')</code>.
	</p>
	<h2>View Transitions</h2>
	<p>Astro supports view transitions using the routing component 
		<code>&lt;ViewTransition / &gt;</code> and the transition directives 
		<code>transition:*</code>.</p>
	<h2>My Recipes</h2>
	<section class="recipes">
		{allPosts.map(post =>
			<RecipeCard post={post}>
			</RecipeCard>
			)}
	</section>
</Layout>

<style>
	.title {
		margin-top: 0;
	}
	.recipes {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 8px;
	}
</style>
