---
import { AstroIcon } from "../components/icons"
---
<footer>
  <section>
    <span class="made-with">
      Made with
			<a class="link" href="https://astro.build/">
				<AstroIcon size={24}></AstroIcon>
			</a>
    </span>
  </section>
</footer>
<style>
  footer {
    padding: 16px;
    background-color: var(--container-high);
	}
	footer > section {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 700px;
		width: 100%;
	}
	.made-with {
		display: flex;
		gap: 10px;
		font-weight: 500;
	}
	.link {
		color: inherit;
	}
</style>