---
// Supports weights 400-700
import '@fontsource-variable/dancing-script'
---
<nav>
  <h1 class="title"><a href="/">Cooking Blog</a></h1>
  <section class="links">
    <a class="link" href="/">Home</a>
    <!-- data-astro-reload: to avoid CSS loading issues -->
    <a class="link" href="/ducks">Ducks</a>
  </section>
</nav>

<style>
  nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 24px;
    background-color: var(--container-high);
  }
  .title {
    margin: 0;
    font-family: "Dancing Script Variable", sans-serif;
    font-size: 32px;
    font-weight: normal;
  }
  .title > a {
    text-decoration: none;
    color: inherit;
  }
  .links {
    display: flex;
    gap: 16px;
  }
  .link {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
  .link:hover {
    text-decoration: underline;
  }
</style>