.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}

.duck {
  height: 400px;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 12px;
}
.duckFallback {
  height: 400px;
  width: 100%;
  background-color: var(--container);
  border-radius: 12px;
}
